@import '../../../styles/colors';
.login{
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
    min-width: 30%;
    padding: 20px;
    h3{
        text-transform: uppercase;
        color: $secondary-text ;
    }
    form{
        display: flex;
        flex-direction: column;
        gap:20px;
        justify-content: center;
        button{
            width: fit-content;
            align-self: center;
        }
    }
}

@media (max-width: 768px) {
    .login{
        min-width: 100%;
    }
}