.container{
    h3{
        font-family: Sora;
        font-size: 24px;
        margin-left: 40px;
    }
    .content{
        width: 100%;
        display: flex;
        padding: 20px 30px;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 750px) {
.container{
    h3{
        font-size: 20px;
    }
    .content{
        display: flex;
        flex-wrap: nowrap;
        gap:0px;
        overflow-x:scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    
    .content::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}

}