.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:40px;
    .cards{
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        justify-content: space-around;
        align-items: center;
        gap:20px;
    }
}