.car_card {
	padding: 12px;
	margin: 12px 0px;
	width: 388px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

	.image {
		width: 100%;
		aspect-ratio: 1.55;
		border-radius: 4px;
		background-color: #c4c4c4;
		position: relative;
		overflow: hidden;
	}

	.info {
		padding: 16px 0px 20px;

		h1 {
			font-family: Sora;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: 0.05em;
			color: #3d3d3d;
		}

		h3 {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 150%;
			letter-spacing: 0.05em;
			color: #1b1b1b;
		}

		p {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			letter-spacing: 0.05em;
			color: #1b1b1b;
			margin: 4px 0px 8px;
		}

		.container {
			padding-top: 8px;
			display: flex;
			justify-content: center;

			p {
				flex: 0.3;
				text-align: center;
				margin: 0px;
				border-right: 1px solid #b1d0e0;

				&:last-of-type {
					border: none;
				}
			}
		}
	}

	button {
		width: 100%;
		border: 1px solid #1a374d;
		border-radius: 4px;
		font-family: Sora;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: #1a374d;
		padding: 15px 0;
		background-color: #ffffff;

		&:hover {
			background-color: #ccc;
		}
	}
}
