@import '../../../styles/colors';

.container{
    overflow: hidden;
    .filterName{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: $primary-button-background;
        color: $white;
        h6{
            font-size: 14px;
        }
    }
    .content_open{
        background-color: $light-button-focus;
        transition: all ease-in-out 0.4s;
        opacity: 1;
        padding: 10px 10px;
        max-height: 200px;
        .checkBoxes{
            display: flex;
            gap: 5px;
            flex-direction: column;
            
            justify-content: space-around;
            .checkbox{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                .check{
                    margin-right: 5px;
                    width: 22px;
                    height:22px;
                    background-color: black;
                    accent-color: $primary-bg;
                    cursor: pointer;
                }
            }
        }
    }
    .content_close{
        background-color: $light-button-focus;
        transition: all ease-in-out 0.4s;
        opacity: 0.4;
        max-height: 0px;
        padding: 0px 10px; 
        .checkBoxes{
            display: flex;
            gap: 5px;
            flex-direction: column;
            
            justify-content: space-around;
            .checkbox{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                .check{
                    margin-right: 5px;
                    width: 22px;
                    height:22px;
                    background-color: black;
                    accent-color: $primary-bg;
                    cursor: pointer;
                }
            }
        }
    }
}