@import '../../../styles/colors';

.alert{
    position: relative;
    background-color: yellow;
    padding: 10px 20px;
    z-index: 4;
    background-color: $primary-button-focus;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    svg{
        font-size: 30px;
    }
}