@import '../../../styles/colors';

@mixin alertCommon{
    position: relative;
    padding: 10px 20px;
    z-index: 4;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    svg{
        font-size: 30px;
    }
}

.alertVisible{
    @include alertCommon();
    transition: all 0.3s ease-in-out;
    transform: translateY(200%);
}

.alertHidden{
   @include alertCommon();
    transition: all 0.3s ease-in-out;
    transform: translateY(0%);
}