.auth_layout{
    display: grid;
    position: relative;
    min-height: 80vh;
    place-items:  center;
    padding: 20px;
    .top,.bottom{
        position: absolute;
    }
    .top{
        right:0;
        top:0;
        z-index: -1;
    }
    .bottom{
        bottom:0;
        left: 0;
        z-index: -1;
        transform: rotate(180deg);
    }
}