.carousel {
    width: 100%;
    padding: 32px 0px;

    .title {
        font-family: Sora;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        padding-bottom: 32px;
    }

    ul {
        padding: 10px;
    }
}
