.heading {
  display: flex;
  justify-content: space-between;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-left: 20px;
    // padding-bottom: 32px;
  }
  .arrow {
    display: flex;
    .leftArrow {
      background-image: url("../../../public/leftArrow.png");
      background-position: center;
      background-size: cover;
      width: 30px;
      height: 30px;
      cursor: pointer;
      transform: scale(0.8);
      &:active {
        transform: scale(1);
      }
    }
    .rightArrow {
      background-image: url("../../../public/rightArrow.png");
      background-position: center;
      width: 30px;
      height: 30px;
      background-size: cover;
      cursor: pointer;
      transform: scale(0.8);
      &:active {
        transform: scale(1);
      }
    }
  }
}

.carousel {
  width: 100%;
  padding: 32px 20px;

  // test
  display: flex;
  // test

  ul {
    padding: 10px;
  }
  // test
  .cards {
    width: 100vw;
    display: flex;
    padding: 20px 0px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // test
}
@media (max-width: 750px) {
  .heading {
    .title {
      font-size: 24px;
    }
    .arrow {
      display: none;
    }
  }

  .carousel {
    padding: 32px 20px;
  }
}
