.info {
  display: flex;
  flex-direction: column;
  gap:20px;
  text-align: center;
  padding: 20px;
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .buttonGroup{
      display: flex;
      justify-content: space-between;
    }
    .formGroup{
      display: flex;
      justify-content: space-between;
      div{
        flex-grow:1
      }
      gap:10px;
    }
  }
}

@media (max-width: 768px) {
  .info {
  }
}
