.register {
    text-align: center;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #406882;
        margin-bottom: 16px;
    }

    h1 {
        
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        color: #1b1b1b;
        margin-bottom: 20px;
    }

    p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #1b1b1b;
        margin-bottom: 64px;
    }
    }

    .sm {
        font-size: 18px;
        line-height: 23px;
        
        margin: 12px 0px 0px;

        a {
            color: #6998ab;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }


@media (max-width: 768px) {
    .register {
        padding: 140px 30px 50px;
        h3 {
            font-size: 14px;
            line-height: 18px;
        }

        h1 {
            font-size: 36px;
            line-height: 45px;
            margin-bottom: 50px;
        }

        p {
            display: none;
        }

        .sm {
            display: block;
            width: 100%;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
