@import '../../../styles/colors';
.register {
 display: flex;
 flex-direction: column;
 padding: 20px;
 gap: 20px;
 min-width: 40%;
 align-items: center;
 h3{
  color: $secondary-text;
  text-transform:uppercase;
 }

 form{
  .step1,.step2,.step3{
    display: none;
  }
  .registerPage{
    display: none;
    flex-direction: column;
    gap:20px;
    width: 100%;
   input{
    width: 100%;
   }
   button{
    width: fit-content;
    margin-left: auto;
   }
  }
  .active{
    opacity: 1;
    display: flex;
  }
 }
}
