.register {
  height: auto;
  width: 100%;
  padding: 0px 80px;
  text-align: center;

  .errorMessage {
    color: red;
    // margin-top: 30px;
    font-size: 10px;
    .passwordList {
      line-height: 10px;

      list-style: none;

      font-size: 10px;
    }
  }

  h3 {
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #406882;
    margin-bottom: 16px;
  }

  h1 {
    
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #1b1b1b;
    margin-bottom: 20px;
  }

  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #1b1b1b;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    order: 1;
    margin: 48px 90px 0px;

    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0px 0px 10px;
      width: 100%;
      position: relative;

      input {
        padding: 14px 20px;
        background: #ffffff;
        border: 1px solid;
        border-radius: 4px;
        margin: 0px 0px 6px;
        width: 100%;

        // Text
        
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: #1b1b1b;

        &:active {
          color: #406882;
        }
      }
      .toggleVisible {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
      }

      p {
        font-size: 12px;
        line-height: 15px;
        color: #eb3131;
      }
    }

    .remember {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0px 0px 28px;

      div {
        height: 18px;
        width: 18px;
        background-color: #000;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        color: #1b1b1b;
        margin-left: 16px;
      }
    }
  }

  .or {
    margin-top: 36px;
  }
  .container {
    margin: 20px 0px 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 360px;
    order: 1;
    .icon {
      height: 50px;
      width: 50px;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: #406882, $alpha: 0.2);
        border-radius: 20%;
      }
    }
  }

  .redirect {
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1b1b1b;
    margin-top: 20px;

    a {
      color: #6998ab;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .register {
    padding: 140px 30px 50px;

    h3 {
      font-size: 14px;
      line-height: 18px;
    }

    h1 {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 50px;
    }

    .p {
      display: none;
    }

    form {
      margin: 20px 0px 0 0;

      .formGroup {
        input {
          height: 42px;
          width: 100%;
          max-width: 450px;
          font-size: 14px;
          line-height: 18px;
        }
      }

      .remember {
        p {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    .or {
      margin-top: 28px;
    }

    .container {
      height: 40px;
      .icon {
        width: 40px;
        aspect-ratio: 1;
      }
    }
  }
}
