.sellerType {
  text-align: center;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #406882;
    margin-bottom: 16px;
  }

  h1 {
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #1b1b1b;
    margin-bottom: 20px;
  }

  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #1b1b1b;
    margin-bottom: 54px;
  }
  .boldText {
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #1b1b1b;
    margin-bottom: 0px;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 0px 36px;
    margin: 32px 0px 36px;

    .box {
      aspect-ratio: 1;
      padding: 12px 28px;
      border: 1px solid #1a374d;
      box-sizing: border-box;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      // Text
      font-family: Sora;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1b1b1b;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}

@media (max-width: 700px) {
  .sellerType {
    padding: 140px 30px 50px;

    h3 {
      font-size: 14px;
      line-height: 18px;
    }

    h1 {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 40px;
    }

    .boldText {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
