@import '../../../styles/colors';
.sellerType {
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 20px;
  text-align: center;
  .boldText{
    font-weight: 600;
  }

  .container{
    display: flex;
    justify-content: center;
    gap:20px;
    .box{
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      border: 1px solid $unselected;
      border-radius: 10px;
    }
    .isClicked{
      border: 1px solid $selected;
      background-color: $selected-bg;
    }

    
  }
  .buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sellerType {
  }
}
