.success {
    text-align: center;

    h3 {
        font-family: Sora;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #406882;
        margin-bottom: 20px;
    }

    p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #1b1b1b;
        margin-bottom: 48px;
    }

    .image {
        aspect-ratio: 1;
        width: 90%;
        max-width: 600px;
        margin: 30px 0px;
    }

    button {
        margin: 24px auto;
        p {
            margin: 0px;
        }
    }

    a {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #1a374d;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 700px) {
    .success {
        padding: 140px 30px 50px;

        h3 {
            font-size: 14px;
            line-height: 18px;
        }

        p {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 24px;
        }

        button {
            height: 42px;
            padding: 9px;
            width: 100%;
            max-width: 450px;
            margin-top: 14px;

            p {
                font-size: 16px;
                line-height: 19px;
            }
        }

        a {
            font-size: 16px;
            line-height: 19px;
        }
    }
}
