@import '../../../styles/colors';

.searchBar{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $primary-bg;
    input,input:focus{
        border-radius: 0.5rem 0rem 0rem 0.5rem;
        padding: 10px;
        border: none;
        border-right: none;
        min-width: 40%;
        font-family: Sora;
        font-size: 18px;
        outline: none;
    }
    button{
        min-width: 60px;
    }
}

@media (max-width: 760px){
    .searchBar{
        padding: 20px 54px;
        input,input:focus{
            min-width: 100%;
            font-size: 14px;
        }
    }
} 