@import '../../../styles/colors.scss';

.container{
    font-family: Sora;
    overflow: hidden;
    .filterName{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        background-color: $primary-button-background;
        color: $white;
        h6{
            font-size: 14px;
        }
    }
    
    .content_open{
        transition: all ease-in-out 0.4s;
        display: flex;
        max-height: 200px;
        flex-direction: column;
        background-color: $light-button-focus;
        height: fit-content;
        gap:5px;
        opacity: 1;
        padding: 10px 10px;
        .left{
            display: flex;
            flex-direction: column;
            gap: 5px;
            a{
                font-size: 12px;
                text-decoration: none;
                width: fit-content;
                color:$primary-button-background;
                &:hover{
                    color: $primary-button-focus;
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
            .inputs{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
        
    }
    .content_close{
        transition: all ease-in-out 0.4s;
        display: flex;
        max-height: 0px;
        flex-direction: column;
        background-color: $light-button-focus;
        height: fit-content;
        gap:5px;
        opacity: 0.4;
        padding: 0px 10px;
        .left{
            display: flex;
            flex-direction: column;
            gap: 5px;
            a{
                font-size: 12px;
                text-decoration: none;
                width: fit-content;
                color:$primary-button-background;
                &:hover{
                    color: $primary-button-focus;
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
            .inputs{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }    
}