.seller_info {
    form {
        input {
            margin: 12px;
            padding: 20px !important;
        }
        input:nth-child(1),
        input:nth-child(2),
        input:nth-child(6),
        input:nth-child(7) {
            width: calc(50% - 24px) !important;
        }
        input[type="tel"],
        input:nth-child(4),
        input:nth-child(5) {
            width: calc(100% - 24px) !important;
        }
        .form_group {
            input[type="tel"] {
                margin-bottom: 0px;
                padding-left: 60px !important;
                background-image: url("../public/phone.png");
            }
            .small-text {
                margin-left: 12px !important;
            }
        }
        input:nth-child(4) {
            padding-left: 60px !important;
            background-image: url("../public/location.png");
        }
    }
}
