@import '../../../styles/colors';

.heroSection {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 90px;
    gap: 40px;
    
    color: white;
    h6{
      margin-top: -70px;
      text-align: center;
      font-size: 3vw;
      width: 60%;
      span{
        font-size:5vw;
        font-weight: 900;
        color: white;
        // text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        //        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
      }
    }
    p{
      font-size: 24px;
      width: 60%;
    }
    .buttonGroup{
      display: flex;
      gap: 20px;
      Button {
        font-size: 20px;
        padding: 20px 30px;
      }
    }
  }

  @media (max-width: 1028px) {
    .heroSection {
      h6{
        font-size: 5vw;
        width: 100%;
        span{
         font-size: 6vw;
        }
      }
      p{
        font-size: 16px;
        width: 100%;
      }
      .buttonGroup{
        flex-direction: row;
        Button{
         
          font-size: 14px;
          justify-content: space-between;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .heroSection {
      h6{
        font-size: 8vw;
        width: 100%;
        span{
         font-size: 10vw;
        }
      }
      p{
        font-size: 16px;
        width: 100%;
      }
      .buttonGroup{
        flex-direction: row;
        Button{
          justify-content: space-between;
        }
      }
    }
  }
  @media (max-width: 560px) {
    .heroSection {
      align-items: center;
      padding: 0px;
      min-height: 60vh;
      justify-content: center;
      h6{
        text-align: center;
        font-size: 8vw;
        width: 100%;
        span{
          font-size: 10vw;
        }
      }
      p{
        font-size: 16px;
        width: 100%;
      }
      .buttonGroup{
        flex-direction: row;
        Button{
          padding: 12px;
          justify-content: space-between;
        }
      }
    }
}