.Ad {
  margin: 32px 0px;
  height: 240px;
  width: 100%;
  background-color: #111;
  color: #ddd;
  display: flex;
  place-items: center;
  justify-content: center;
}
.home_section{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .home {
    
  }

  .adSection {
    width: 100%;
  }
}
