.sell_car_ad {
    padding: 62px 120px;
    display: flex;
    background: #f4f4f4;
    .container {
        flex: 0.5;
        button {
            background: #1a374d;
            border-radius: 4px;
            width: 140px;
            height: 56px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 16px 20px;
            font-family: Sora;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #f4f4f4;

            &:hover {
                background: #081e2e;
            }
        }

        h3 {
            font-family: Sora;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #1b1b1b;
        }
        p {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #3d3d3d;
            padding: 20px 0px 32px;
        }
        div {
            height: 48px;
            width: 150px;
            p {
                padding: 0px;
            }
        }
        .image {
            height: 100%;
            width: 100%;
            text-align: right;
        }
    }
}
