.advertisement {
    padding: 48px 120px 120px;
    font-family: Sora;
    font-weight: 600;
    h1 {
        font-size: 3rem;
        line-height: 3.75rem;
        color: black;
        margin: 0px 0px 20px;
    }
    .big_heading {
        font-size: 24px;
        line-height: 30px;
        color: black;
        margin-bottom: 32px;
    }
    .heading {
        font-family: Sora;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: black;
        margin-bottom: 24px;
    }
    .small_heading {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: black;
        margin: 0px 0px 24px;
    }
    .btn {
        width: 200px;
        height: 54px;
        border-radius: 4px;
        background: #1a374d;
        font-family: Inter;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        display: block;
        margin-top: 16px;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin-bottom: 40px;
        color: #406882;
    }
    select,
    input {
        height: 56px;
        min-width: 250px;
        border: 1px solid black;
        border-radius: 4px;
        margin: 0px 32px 48px 0px;
        padding: 16px 20px;
        font-family: Sora;
        font-size: 18px;
        line-height: 23px;
    }
    .step1 {
        height: fit-content;
        form {
            .brand {
                width: 45%;
            }
            .brand_container {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 48px;
                width: 100%;
            }
            .brand_logo {
                width: 12%;
                min-width: 100px;
                aspect-ratio: 1;
                margin-right: 2.5%;
                border: 1px solid black;
                border-radius: 8px;
            }
            .model,
            .fuel {
                width: 35%;
            }
            .registration,
            .mileage,
            .horsepower {
                width: 25%;
            }
        }
    }
    .step2 {
        height: fit-content;
        .phone {
            width: 30%;
        }
        .container {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 48px;
            .box,
            .image {
                margin: 0px 36px 0px 0px;
                padding: 12px 0px;
                width: 120px;
                aspect-ratio: 1;
                display: grid;
                place-items: center;
                border: 2px solid #000000;
                border-radius: 8px;
                font-family: Sora;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #1b1b1b;
            }
            .image {
                border: 2px dashed;
            }
        }
    }
}
