.boldText {
  
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #1b1b1b;
  margin-bottom: 32px;
}

.container {
  width: 100%;
  display: flex;
  gap: 0px 16px;
  flex-wrap: wrap;
}

.inputBox {
  padding-bottom: 24px;

  .selectBtn {
    height: 56px;
    width: 165px;
    border: 1px solid #1b1b1b;
    display: grid;
    place-items: center;
    border-radius: 4px;
    cursor: pointer;

    // Text
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #848484;
    &:hover {
      background-color: #f1f1f1;
      color: black;
    }
  }
  .isClicked {
    background-color: #b1d0e0;
    color: black;
  }
}

.text {
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #1b1b1b;
  margin-bottom: 16px;
}

.step_1 {
  padding: 100px;
  select {
    height: 56px;
    width: 70%;
    margin-bottom: 24px;
    border-radius: 4px;
    border: 1px solid #1b1b1b;
    padding: 16px 20px;

    // Text
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1b1b1b;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .box {
      aspect-ratio: 1;
      padding: 12px 28px;
      width: 125px;
      border: 1px solid #1a374d;
      box-sizing: border-box;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      cursor: pointer;
      // Text
      text-align: center;
      
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1b1b1b;
      &:hover {
        background-color: #e5e5e5;
      }
    }

    // .box {
    //   height: 100px;
    //   aspect-ratio: 1;
    //   // background-color: red;
    //   border-radius: 4px;
    //   border: 1px solid #000000;
    // }
  }

  button {
    margin: 48px auto 0px;
  }
}

.step_2 {
  padding: 100px;
  .container:nth-child(1) {
    gap: 124px;
  }

  .inputBox:nth-child(1) {
    flex: 0.4;
  }

  .date {
    height: 56px;
    width: 100%;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    padding: 16px 20px;

    // Text
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1b1b1b;
  }

  .inputBox:nth-child(2),
  .inputBox:nth-child(3) {
    flex: 0.3;
    min-width: 120px;
  }

  .number {
    height: 56px;
    width: 100%;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    padding: 16px 20px;

    // Text
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1b1b1b;
  }

  select {
    height: 56px;
    width: 70%;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #1b1b1b;
    padding: 16px 20px;

    // Text
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1b1b1b;
  }

  button {
    margin: 24px auto 0px;
  }
}

.step_3 {
  width: 100%;
  padding: 100px;
  textarea {
    width: 100%;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    padding: 16px 20px;
    resize: none;

    // Text
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #848484;
  }

  .smBoldText {
    
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #1b1b1b;
    margin-bottom: 8px;
  }

  .uploadImage {
    height: 100px;
    width: 100px;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
  }

  button {
    margin: 24px auto 0px;
  }
}

@media (max-width: 768px) {
  .step_1,
  .step_2,
  .step_3 {
    padding: 0 20px;
    margin-top: 120px;
    button{
      width: 100%;
    }
  }

  .boldText {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .text {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
  }

  .step_1 {
    select {
      height: 42px;
      width: 100%;
      max-width: 400px;
      padding: 9px;
      font-size: 14px;
      line-height: 18px;
    }

    .container {
      gap: 14px;

      .box {
        border-radius: 8px;
      }
    }
  }

  .step_2 {
    select,
    .number,
    .date {
      height: 42px;
      width: 100% !important;
      max-width: 400px !important;
      padding: 9px;
      font-size: 14px;
      line-height: 18px;
    }

    .inputBox {
      padding-bottom: 16px;
    }

    .container {
      // flex-wrap: nowrap;
      width: 100%;

      .selectBtn {
        width: auto;
        padding: 0px 20px;
        height: 42px;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .step_3 {
    .container {
      // flex-wrap: nowrap;
      width: 100%;

      .selectBtn {
        width: auto;
        padding: 0px 20px;
        height: 42px;
        font-size: 14px;
        line-height: 18px;
      }
    }

    textarea {
      font-size: 14px;
      line-height: 18px;
      padding: 12px;
    }

    .smBoldText {
      font-size: 16px;
      line-height: 20px;
    }
    .homeAd {
      display: flex;
    }
  }
}
