@import '../../../styles/colors';
@mixin btn{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 10px;
    border-radius: 0.5rem;
    min-width: 60px;
    height: fit-content;
    outline: none;
    font-style: normal;
    font-size: 18px;
    transition: all 0.2s;
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-left: 10px;
    }
}

.btn_primary {
    @include btn;
    background: $primary-button-background;
    border: none;
    color: $light-text;
    &:hover,
    &:active{
        cursor: pointer;
        background-color: $primary-button-focus;
    }
}

.btn_light{
    @include btn;
    background: $light-button-background;
    border: 1px solid $primary-text;
    color: $primary-text;
    &:hover,
    &:active{
        cursor: pointer;
        background-color: $light-button-focus;
    }
}

@media (max-width: 760px){
    .btn_primary,.btn_light {
    font-size: 16px;
    }
}
