@import '../../../styles/colors';
.container{
    display: flex;
    flex-direction: column;
    label{
        text-transform: capitalize;
        font-weight: 500;
        margin-left: 5px;
    }
    .select{
        padding: 15px;
        border-radius: 0.5rem;
        background-color: white;
        border: 2px solid $selected-bg;
        outline: none;
    }
}