$white:#fff;
$black:#000;
$primary-bg:#1a374d;
$grey-placeholder:#c4c4c4;

//button
$primary-button-background:#122736;
$primary-button-focus:#406882;
$light-button-background:#fff;
$light-button-focus:#f1f1f1;
$danger-button-background:#406882;